/Production/unity/test1
/Production/Unity/Library
/Production/Unity/Logs
/Production/Unity/Temp
*.dwlt
Production/Unity/OmniShadePBR.csproj
Production/Unity/OmniShadePBR.Editor.csproj
Production/Unity/soupday.cc3_unity_tools.editor.csproj
Production/Unity/soupday.cc3_unity_tools.runtime.csproj
*.csproj
Production/Unity/UserSettings/EditorUserSettings.asset
/Production/Unity/BackupUnusedAssets
